@font-face {
    font-family: "VNG Beatrice";
    src: url("/fonts/VNG_Beatrice_Medium.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "VNG Beatrice";
    src: url("/fonts/VNG_Beatrice_MediumItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "VNG Beatrice";
    src: url("/fonts/VNG_Beatrice_Bold.ttf");
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "VNG Beatrice";
    src: url("/fonts/VNG_Beatrice_BoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

